## sql query를 통한 data set 전처리


SELECT u.loc, u.year, u.month, u.unemployment, k.kospi , i.interest, r.rate, o.oilprice, p.productprice, c.consumerprice <br>
FROM unemployment u, kospi k , interest i , rate r, oilprice o, productprice p, consumerprice c <br>
WHERE (u.year = k.year) and (u.month = k.month) and (i.year = u.year) and (i.month = u.month) and (u.month = r.month) and (u.year = r.year) and (r.year = o.year) and (r.month = o.month) and (o.month = p.month) and (o.year = p.year) and ( p.year = c.year ) and (p.month = c.month)